* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: #333;
  color: #fff;
}
.hello {
  width: 50%;
  /* border: 1px solid white; */
  margin: auto;
}
.hello img {
  width: 200px;
}
.hello div {
  /* border: 1px solid red; */
  width: 100%;
  margin: 400px 0;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
}
